body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-bebas-neue: "Bebas Neue";
  --font-open-sans: "Open Sans";

  /* font sizes */
  --font-size-77xl: 96px;
  --font-size-10xl: 29px;
  --font-size-29xl: 48px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-black: #000;
  --color-gray-100: rgba(0, 0, 0, 0.46);
  --color-gray-200: rgba(255, 255, 255, 0.38);
  --color-red: #ff0000;
  --color-white: #fff;

  /* Gaps */
  --gap-89xl: 108px;
  --gap-xl: 20px;
  --gap-0: 0px;
  --gap-12xl: 31px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-15xl: 34px;
  --padding-58xl: 77px;
  --padding-119xl: 138px;
  --padding-39xl: 58px;
  --padding-71xl: 90px;
  --padding-7xl: 26px;

  /* Border radiuses */
  --br-81xl: 100px;
}
