.desktop-1-child {
  align-self: stretch;
  height: 942px;
  position: relative;
  background-color: transparent;
  display: none;
}
.about-me,
.home-frame-child {
  width: 122px;
  position: relative;
  display: none;
}
.home-frame-child {
  height: 82px;
  width: 1440px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  max-width: 100%;
}
.about-me1,
.home {
  position: relative;
  z-index: 1;
}
.about-me1 {
  white-space: nowrap;
}
.gaurav {
  margin: 0;
  font-size: 64px;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-red);
  white-space: nowrap;
}
.contact-me,
.gaurav,
.skills {
  position: relative;
  z-index: 1;
}
.contact-me {
  white-space: nowrap;
}
.home-frame,
.home-frame-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.home-frame {
  flex: 1;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-white);
  align-items: center;
  justify-content: center;
  padding: 5px var(--padding-xl) 0 22px;
  gap: 0 123px;
}
.home-frame-wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 6px;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-bebas-neue);
}
.developer,
.hi-im-gaurav {
  margin: 0;
  align-self: stretch;
  height: 224px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.developer {
  font-size: 200px;
  color: var(--color-white);
}
.hi-message {
  width: 1105px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: 1px 0;
  max-width: 100%;
}
.rectangle-shape {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1440px;
  height: 171px;
}
.download-resume {
  margin: 0;
  position: absolute;
  top: 34px;
  left: 434px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 572px;
  height: 168px;
  z-index: 2;
}
.download-button {
  align-self: stretch;
  height: 202px;
  position: relative;
  font-size: var(--font-size-77xl);
  color: var(--color-white);
}
.hi-message-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 31px 0;
  max-width: 100%;
  text-align: left;
  font-size: 250px;
  color: var(--color-red);
  font-family: var(--font-bebas-neue);
}
.text-area-child {
  height: 456px;
  width: 152px;
  position: relative;
  background-color: var(--color-red);
  display: none;
}
.about-me2 {
  margin: 0;
  width: 301px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  transform: rotate(-90deg);
  z-index: 1;
}
.text-area {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-red);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-58xl) var(--padding-7xl) 78px;
}
.about-me-frame {
  height: 596px;
  width: 152px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 140px 0 0;
  box-sizing: border-box;
}
.greetings-im-currently {
  font-family: var(--font-open-sans);
}
.nsut-delhi {
  font-weight: 800;
}
.my-fascination-lies,
.nsut-delhi {
  font-family: var(--font-open-sans);
}
.web-development {
  font-weight: 800;
}
.data-structures-and,
.web-development,
.where-creativity-meets {
  font-family: var(--font-open-sans);
}
.data-structures-and {
  font-weight: 800;
}
.blank-line,
.greetings-im-currently-a-thi,
.in-my-quest {
  margin: 0;
}
.greetings-im-currently-container {
  flex: 1;
  position: relative;
  font-size: 36px;
  display: inline-block;
  max-width: calc(100% - 287px);
  z-index: 2;
  font-family: var(--font-open-sans);
}
.image-with-frame,
.image-with-frame-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.image-with-frame {
  width: 1192px;
  padding: 0 var(--padding-xl) 0 0;
  gap: 0 135px;
}
.image-with-frame-wrapper {
  align-self: stretch;
  padding: 0 0 var(--padding-119xl) 0;
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--color-white);
  font-family: var(--font-bebas-neue);
}
.image-1-icon,
.image-3-icon,
.image-6-icon,
.image-8-icon,
.image-9-icon {
  position: absolute;
  top: 369px;
  left: 519px;
  width: 75px;
  height: 75px;
  object-fit: cover;
  z-index: 1;
}
.image-3-icon,
.image-6-icon,
.image-8-icon,
.image-9-icon {
  top: 559px;
  left: 306px;
  width: 66.6px;
}
.image-6-icon,
.image-8-icon,
.image-9-icon {
  left: 130px;
  width: 75px;
}
.image-8-icon,
.image-9-icon {
  top: 264px;
  left: 0;
}
.image-9-icon {
  top: 206px;
  left: 536px;
}
.rectangle-shape-icon,
.wrapper-rectangle-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.rectangle-shape-icon {
  object-fit: contain;
  transform: scale(1.36);
}
.wrapper-rectangle-shape {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-10-icon,
.image-4-icon,
.image-5-icon,
.image-7-icon {
  position: absolute;
  top: 40px;
  left: 393px;
  width: 123.1px;
  height: 75px;
  object-fit: cover;
  z-index: 1;
}
.image-10-icon,
.image-4-icon,
.image-7-icon {
  top: 404px;
  left: 3px;
  width: 75px;
}
.image-10-icon,
.image-4-icon {
  top: 2px;
  left: 110px;
}
.image-10-icon {
  top: 421px;
  left: 426px;
  height: 115.9px;
}
.wrapper-rectangle-shape-parent {
  position: absolute;
  top: 48px;
  left: 20px;
  width: 555px;
  height: 555px;
}
.image-11-icon,
.image-12-icon {
  position: absolute;
  top: 132px;
  left: 15px;
  width: 56.7px;
  height: 75px;
  object-fit: cover;
  z-index: 1;
}
.image-12-icon {
  top: 0;
  left: 268px;
  width: 105px;
  height: 112px;
}
.image-1-parent {
  height: 634px;
  width: 611px;
  position: relative;
  max-width: 100%;
}
.skills-section-child {
  height: 456px;
  width: 152px;
  position: relative;
  background-color: var(--color-red);
  display: none;
}
.skills1 {
  margin: 0;
  width: 205px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  transform: rotate(90deg);
  z-index: 1;
}
.skills-section {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-red);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 125px var(--padding-7xl) 126px;
}
.frame-parent,
.skills-text {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.skills-text {
  height: 492px;
  width: 152px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 36px 0 0;
}
.frame-parent {
  width: 1046px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 var(--padding-119xl) var(--padding-xl);
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--color-white);
  font-family: var(--font-bebas-neue);
}
.frames-container-child {
  height: 164px;
  width: 1210px;
  position: relative;
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.image-13-icon,
.image-14-icon {
  width: 75px;
  height: 75px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 8px;
}
.image-15-icon,
.image-16-icon {
  width: 75px;
  height: 75px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.image-container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 3px;
}
.frames-container {
  width: 1210px;
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-black);
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-15xl) var(--padding-58xl) var(--padding-15xl) 71px;
  min-height: 164px;
  gap: var(--gap-xl);
  max-width: 100%;
}
.desktop-1,
.frames-container,
.multi-image-frame {
  display: flex;
  box-sizing: border-box;
}
.multi-image-frame {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 61px;
  gap: 108px 0;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-bebas-neue);
}
@media screen and (max-width: 1200px) {
  .home-frame {
    gap: 0 123px;
  }
  .image-with-frame {
    gap: 0 135px;
  }
  .frames-container {
    padding-left: 35px;
    padding-right: 38px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .about-me {
    font-size: 32px;
  }
  .hi-im-gaurav {
    font-size: 100px;
  }
  .developer {
    font-size: 80px;
  }
  .about-me2,
  .download-resume {
    font-size: var(--font-size-29xl);
  }
  .greetings-im-currently-container {
    font-size: var(--font-size-10xl);
  }
  .image-with-frame-wrapper {
    padding-bottom: var(--padding-71xl);
    box-sizing: border-box;
  }
  .skills1 {
    font-size: var(--font-size-29xl);
  }
  .frame-parent {
    flex-wrap: wrap;
    padding-bottom: var(--padding-71xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .home-frame {
    gap: 0 123px;
  }
  .hi-message-parent {
    gap: 31px 0;
  }
  .about-me-frame {
    display: none;
    padding-top: 91px;
    box-sizing: border-box;
  }
  .greetings-im-currently-container {
    max-width: 100%;
  }
  .image-with-frame {
    gap: 0 135px;
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .frames-container {
    flex-wrap: wrap;
  }
  .desktop-1 {
    gap: 108px 0;
  }
}
@media screen and (max-width: 450px) {
  .about-me {
    font-size: 24px;
  }
  .home-frame {
    gap: 0 123px;
  }
  .hi-im-gaurav {
    font-size: 62px;
  }
  .developer {
    font-size: 50px;
  }
  .about-me2,
  .download-resume {
    font-size: var(--font-size-10xl);
  }
  .greetings-im-currently-container {
    font-size: 22px;
  }
  .image-with-frame {
    gap: 0 135px;
  }
  .image-with-frame-wrapper {
    padding-bottom: var(--padding-39xl);
    box-sizing: border-box;
  }
  .skills1 {
    font-size: var(--font-size-10xl);
  }
  .skills-section {
    padding-top: 81px;
    padding-bottom: 82px;
    box-sizing: border-box;
  }
  .frame-parent {
    padding-bottom: var(--padding-39xl);
    box-sizing: border-box;
  }
  .desktop-1 {
    gap: 108px 0;
  }
}
